<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>
        Seb's Restaurant
    </title>
    <script>
        function greetUser() {
         let name = prompt("Please, enter your name:");
         let greeting = "Hello, " + name + ". Welcome to Seb's Restaurant.";
         alert(greeting);
        }
        </script>
        </head>
        <body>
         <button type="button" onclick="greetUser()">Hello, my friend</button>
         <div id="my_menu" align="center">
            <a href="#">RESTAURANT</a> | 
            <a href="#">MENU</a> | 
            <a href="#">TEAM</a> |
            <a href="#">CONTACT</a>
        </div>
        <h1>Welcome</h1>
        <h4>To one of the most prestigious restaurants in all of Argentina</h4>
        </body>
</html>